<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fhd.medien.mait.sfa">
    <application android:icon="@drawable/icon">
    	<activity android:name=".SudokuMain" android:label="@string/app_name">
		 	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
      	<activity android:name="KeyPad" android:theme="@android:style/Theme.Dialog" android:label="Key Pad"/>
      	<activity android:name="Field" android:label="Field"/>
     	<activity android:name="Settings" android:theme="@android:style/Theme.Dialog" android:label="Settings"/>
      <activity android:name="Help" android:label="@string/helpTitle" android:theme="@android:style/Theme.Dialog" />
      <activity android:name="UserList" android:label="@string/choose"/>
      <activity android:name="UserForm" android:label="@string/app_name"/>
      <activity android:name="Highscore" android:label="@string/app_name"/>
      <activity android:name="MainMenu" android:label="@string/app_name"/>
      <activity android:name="Algo" android:label="@string/app_name"/>
      <activity android:name="Credits" android:theme="@android:style/Theme.Dialog" android:label="@string/creditsTitle" /> 	
    <activity android:name="Load" android:label="@string/contGame">
</activity></application>
</manifest> 